body {
  background-color: rgb(248, 248, 248);
}

@media only screen and (min-width: 990px) {
  li.nav-item {
    border: 1px solid rgb(191, 191, 191);
  }
}

div.row {
  margin-top: 0vh;
}

.page {
  background-color: rgb(248, 248, 248);
  margin: 1vw;
  padding: 8vw;
  padding-top: 5vw;
  padding-bottom: 4vw;
  font-family: Geogia;
  margin-bottom: 0;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}

/*Carousel*/
.carousel-item {
  padding-bottom: 15vh;
}
.carousel-caption {
  color: rgb(71, 71, 71);
  bottom: -5vh;
  font-style: italic;
}
ol.carousel-indicators {

  bottom: -5vh;
}

#carouselExampleIndicators img {
  border: 8px solid white;
  opacity: .87;
}
#carouselExampleIndicators {
  margin-bottom: 45px;
}
.carousel-indicators .active {
  background-color: rgb(71, 73, 72);
}
.carousel-indicators li {
  background-color: rgb(180, 181, 181);
}



/*About Column*/
 h1 {
  margin-bottom: 50px;
  font-style: italic;
  font-size: 20px;
  margin-top: -15px;
  margin-left: 5vw;
}
 p {
  font-size: 14.6px;
  line-height: 26px;
  padding-bottom: 20px;
}

.col-6 {
  text-align: center;
}

button.btn.btn-link {
  font-family: Georgia-Italic !important;
  color: rgb(74, 74, 74);
}

button.btn.btn-link:hover {
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
div#footer-nav {
  bottom: 1vh;
}

@media only screen and (max-width: 991px) {
  div.row {
    margin-top: 4vh;
  }
}

.light-green-back {
  background-color: rgb(226, 239, 229);
}

/*Quotes*/
.quote-wrapper {
  height: 100%;
  width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-bottom: 1vh;
}
/*.quote:hover {
  color: rgb(100, 100, 100);
}*/
.quote {
  width: 100%;
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
  padding: 1.8vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 0;
  margin: .3vw;
  line-height: 19px;
  color: rgb(146, 146, 146);
}
.quote:hover {
  background-color: rgb(249, 249, 249);
  color: rgb(130, 130, 130);

}
.quote p {
  font-size: 18px;
  margin: 0;
  font-style: italic;

}
.quote p.author {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  margin-right: 10px;
  font-family: 'Fira Sans', sans-serif;
}
.light-author {
    color: rgb(117, 117, 117);
}
.dark-author {
  color: rgb(80, 80, 80);
}
a:hover {
  text-decoration: none;
}
.align-right {
  text-align: right;
  position: relative;
  bottom: 17px;
  margin-right: -10px;
}

.fa-quote-left {
  margin-left: -22px;
  color: rgb(165, 236, 253);
}
.fa-quote-right {
  color: rgb(165, 236, 253);
  padding-left: 10px;
  margin-right: -10px;
}

@media only screen and (max-width: 500px) {
  .quote {
    padding-left: 10vw;
    padding-right: 10vw;
  }
  h1 {
    margin-top: 0;
  }
}


a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

.inner-item:hover {
  background-color: rgb(220,217,206);
}
.actives {
  background-color: rgb(220,217,206);
}

/*mobile nav padding */
  a.nav-link {
    padding-right: 0;
    padding-left: 10px !important;
}
